<script type="text/javascript" src="__PUBLIC__/assets/js/banner.js"></script>
<script language="javascript">
$(function(){
	$('#owl-demo').owlCarousel({
		items: 1,
		navigation: true,
		navigationText: ["上一个","下一个"],
		autoPlay: true,
		stopOnHover: true
	}).hover(function(){
		$('.owl-buttons').show();
	}, function(){
		$('.owl-buttons').hide();
	});
});
</script>

<!--幻灯片-->
<div id="banner" class="banner"> 
    <div id="owl-demo" class="owl-carousel"> 
        <foreach name="banner_list" item="b">
        <a class="item" target="_blank" href="{$b.url_target}" style="background-image:url(__PUBLIC__{$b.url_pic})">
            <img src="__PUBLIC__{$b.url_pic}" style="max-height: 400px;" alt="">
        </a>
        </foreach>
    </div>
</div>
<!--幻灯片-->