<div class="space_hx">&nbsp;</div>
<div class="bg_a">
	<ul class="f_nav clearfix">
        <li>
        	<div class="name"><b>关于云绣国际</b></div>
            <?php $menu = isset($menu_tree[1]) ? $menu_tree[1] : '';  ?>
            <foreach name="menu['children']" item="m">
                <p><a target="_blank" href="{:U('menu/menu', array('id' => $m['id']))}">{$m.name}</a></p>
            </foreach>
        </li>
        <li class="f_ct">
        	<div class="name"><b>联系方式</b></div>
            <p>
            	<a href="mailto:{$web_info.mail}">
                	<img src="__PUBLIC__/images/icon6.png" alt=""/>
                    <span>邮箱:{$web_info.mail}</span>
                </a>
            </p>
            <p>
                <a href="tel:{$web_info.phone}">
                    <img src="__PUBLIC__/images/icon5.png" alt=""/>
                    <span>坐机:{$web_info.phone}</span>
                </a>
            </p>
            <p>
            	<a href="tel:{$web_info.mobile}">
                	<img src="__PUBLIC__/images/icon5.png" alt=""/>
                    <span>电话:{$web_info.mobile}</span>
                </a>
            </p>
        </li>
        <li class="dz">
        	<div class="name"><b>我们的位置</b></div>
            <p>{$web_info.sys_name}<br/>
            xxxxxx xxxx Co. Ltd.</p>
			<p>{$web_info.address}</p>
        </li>
        <?php if(isset($winxin_code) && $winxin_code != ''){ ?>
        <li class="f_ct" style="padding-right: 0px;margin-right: 0px;padding-left: 20px;">
            <div class="name" align="right"><b>“云绣国际”</b></div>
            <div align="right">
                <img src="__PUBLIC__{$winxin_code}" width="100px" height="100px" alt=""/>
            </div>
        </li>
        <?php } ?>
    </ul>
</div>
<div class="f_bg">
	<div class="bq clearfix">
    	<div class="bq_l">
        	{$web_info.sys_title}
        </div>
        <div class="bq_r">2012-<?php echo date('Y'); ?>©版权所有“云绣国际”</div>
    </div>
</div>