<div class="space_hx">&nbsp;</div>
<div class="bg_a">
	<ul class="f_nav clearfix">
        <li>
        	<div class="name"><b>关于云秀国际</b></div>
            <p><a href="">了解我们</a></p>
            <p><a href="">加入我们</a></p>
            <p><a href="">联系我们</a></p>
        </li>
        <li class="f_ct">
        	<div class="name"><b>联系方式</b></div>
            <p>
            	<a href="mailto:1023102176@qq.com">
                	<img src="__PUBLIC__/images/icon6.png" alt=""/>
                    <span>邮箱:1023102176@qq.com</span>
                </a>
            </p>
            <p>
                <a href="tel:020-8888888">
                    <img src="__PUBLIC__/images/icon5.png" alt=""/>
                    <span>坐机:020-8888888</span>
                </a>
            </p>
            <p>
            	<a href="tel:1881946576">
                	<img src="__PUBLIC__/images/icon5.png" alt=""/>
                    <span>电话:1881946576</span>
                </a>
            </p>
        </li>
        <li class="dz">
        	<div class="name"><b>我们的位置</b></div>
            <p>广州市云秀国际有限公司<br/>
xxxxxx xxxx Co. Ltd.</p>
			<p>xxxxxxxxxxxxxxxxxxx</p>
        </li>
        <li class="f_ct" style="padding-right: 0px;margin-right: 0px;padding-left: 20px;">
            <div class="name" align="right"><b>“云秀国际”</b></div>
            <div align="right">
                <img src="__PUBLIC__/images/erwei.png" width="100px" height="100px" alt=""/>
            </div>
        </li>
    </ul>
</div>
<div class="f_bg">
	<div class="bq clearfix">
    	<div class="bq_l">
        	广州市云秀国际有限公司
        </div>
        <div class="bq_r">2012-2017©版权所有“云秀国际”</div>
    </div>
</div>