<!--头部-->
<div class="header">
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="__PUBLIC__/images/logo.png" alt="云绣国际"/></a></div>
        <div class="nav_m">
            <div class="n_icon">导航栏</div>
            <ul class="nav clearfix">
                <li><a href="/">首页</a></li>
                <if condition="count($menu_tree) neq 0">
                    <foreach name="menu_tree" item="m">
                        <li <?php echo isset($_SESSION['m_id']) && $_SESSION['m_id'] == $m['id'] ? 'class="now"' : ''; ?> ><a href="{:U('menu/menu', array('id' => $m['id']))}">{$m.name}</a></li>
                    </foreach>
                </if>
            </ul>
        </div>
    </div>
</div>
<!--头部-->