<include file='Default:Common:header' />

<include file='Default:Common:menu' />

<!--幻灯片-->
<div class="banner banner_s">
	<img src="__PUBLIC__/static/banner_a.jpg" alt=""/>
</div>
<!--幻灯片-->
<div class="space_hx">&nbsp;</div>
<!-- <div class="scd clearfix">
	<div class="about">
    	<img src="__PUBLIC__/static/pic5.jpg" alt="" style="float:left; margin-right:20px;">
        <b style="font-size:16px; margin-bottom:20px;">广州美容有限公司</b>
        <br/>
        于2017年在广州创办，以向天下女人传播美丽之道为目标，是一家以美容护肤保养品与美容院加盟为主，集研发、生产、销售为一体的企业。旗下已形成三大疗程多个系列的成熟护肤体系，秉持以“医学为本、美容为用”的多元化专业护肤理念，产品以其亲肤、护肤、活肤的显著功效成为护肤品中的佼佼者。打破传统“美容院”形象，顺应大健康产业与互联网市场的发展趋势。<br>同时推出了“加盟店+互联网+O2O”的新美力事业，依托目前流行的微商城——商城，消费者不仅可以足不出户就购买到他们心仪的护肤品和健康食品，而且可以获得咨询师一对一的健康咨询服务，享受到在互联网+趋势下的购物新体验，迈向美丽、健康、幸福的新生活。
    </div>
</div> -->
    <div class="wrap scd clearfix">
        <div class="scd_l">
            <div class="s_top"><span>关于云绣</span></div>
            <?php $menu = isset($menu_tree[MENU_ABOUT]) ? $menu_tree[MENU_ABOUT] : ''; ?>
            <?php $choose = ''; ?>
            <ul class="s_nav">
                <foreach name="menu" item="m">
                    <li <?php echo isset($menu_id) && $menu_id == $m['id'] ? 'class="active"' : ''; ?>><a href="{:U('menu/menu', array('id' => $m['id']))}"><i>&nbsp;</i><span>{$m.name}</span></a></li>
                    <?php if(isset($menu_id) && $menu_id == $m['id']) $choose = $m['name']; ?>
                </foreach>
            </ul>
            <div class="space_hx">&nbsp;</div>
        </div>
        <div class="scd_r">
            <div class="r_top">
                <i>&nbsp;</i>
                <span>公司简介<em>Introduction</em></span>
                <div class="pst">
                    当前位置：
                    <a href="{:U('index/index'}">首页</a>-
                    <a href="{:U('menu/menu', array('id' => MENU_ABOUT))}">关于云绣</a>
                    <if condition="$choose neq ''">
                        -<a href="#">{$choose}</a>
                    </if>
                </div>
            </div>
            <div class="scd_m about">
                <img src="__PUBLIC__/static/pic_4.jpg" alt=""/>
                <p style="padding-top:20px; text-indent:2em;">仁懋微电子封装测试基地启动于2001年，是一家专业从事半导体功率器件和其他电子产品封装的优绣供应商。工厂具备从美国，德国，日本等国际和地区原装进口的世界一流的生产设备和测试仪器，主要封装形式有TO-277，TO-92，TO-126，TO-251，TO-252，TO-220, TO-220F, TO-3P等。</p>
                <p style="padding-top:20px; text-indent:2em;">工厂严格实行ISO9001，ISO14001和TS16949管理体系，产品符合RoHS环保认证，REACH环保要求。主营产品有肖特基二极管，快恢复二极管，三极管，可控硅，场效应管，桥堆，稳压管,TVS,等各类元器件，广泛应用于照明灯饰、整流器、充电器、开关电源、音响等行业。产品的各项参数指标均达到国内外同类产品的先进水平，在国内外电源，绿色照明领域具有较高影响。</p>
                <p style="padding-top:20px; text-indent:2em;">仁懋电子采用标准化和定制化服务相结合的经营模式，以高品质的产品为立足点，以技术服务于市场为导向，以先进优良的自动化生产和测试装备为保障，以科学规范的管理，务实高效的决策，朝气蓬勃的高素质员工团队为依托，为客户提供持续的优良产品生产服务和品质保证。</p>
            </div>
        </div>
    </div>
<include file='Default:Common:footer' />
</body>
</html>
