<include file='Default:Common:header' />

<include file='Default:Common:menu' />

<!--幻灯片-->
<div class="banner banner_s">
	<img src="__PUBLIC__/static/banner_a.jpg" alt=""/>
</div>
<!--幻灯片-->
<div class="space_hx">&nbsp;</div>
    <div class="wrap scd clearfix">
        <div class="scd_l">
            <div class="s_top"><span>关于云绣</span></div>
            <?php $menu = isset($menu_tree[1]) ? $menu_tree[1] : ''; ?>
            <?php $choose = ''; ?>
            <ul class="s_nav">
                <foreach name="menu['children']" item="m">
                    <li <?php echo isset($menu_id) && $menu_id == $m['id'] ? 'class="active"' : ''; ?>><a href="{:U('menu/menu', array('id' => $m['id']))}"><i>&nbsp;</i><span>{$m.name}</span></a></li>
                    <?php if(isset($menu_id) && $menu_id == $m['id']) $choose = $m['name']; ?>
                </foreach>
            </ul>
            <div class="space_hx">&nbsp;</div>
        </div>
        <div class="scd_r">
            <div class="r_top">
                <i>&nbsp;</i>
                <span>公司简介<em>Introduction</em></span>
                <div class="pst">
                    当前位置：
                    <a href="{:U('index/index')}">首页</a>-
                    <a href="{:U('menu/menu', array('id' => 1))}">关于云绣</a>
                    <if condition="$choose neq ''">
                        -<a href="#">{$choose}</a>
                    </if>
                </div>
            </div>
            <div class="scd_m about">
                {$column.column_content|htmlspecialchars_decode}
            </div>
        </div>
    </div>
<include file='Default:Common:footer' />
</body>
</html>
