<include file='Default:Common:header' />

<include file='Default:Common:menu' />
<!-- 地图api -->
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
<script src="http://webapi.amap.com/maps?v=1.4.0&key=373e851010709efb971000688e43caf7"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<!--幻灯片-->
<div class="banner banner_s">
	<img src="__PUBLIC__/static/banner_a.jpg" alt=""/>
</div>
<!--幻灯片-->
<div class="space_hx">&nbsp;</div>
<div class="scd scd_a clearfix">
	<dl class="contact clearfix">
    	<dt><div id="container"></div></dt>
        <dd>
        	<div class="c_logo"><h1>云秀国际美容有限公司</h1></div>
            <h6>Guangzhou Cloud show international beauty Co. Ltd.</h6>
            <div class="c_m">
            	<p><img src="__PUBLIC__/images/icon10.jpg" alt=""/><span>电话：020-8888888</span></p>
                <p><img src="__PUBLIC__/images/icon11.jpg" alt=""/><span>座机：400－888888</span></p>
                <p><img src="__PUBLIC__/images/icon12.jpg" alt=""/><span>邮箱：123456@qq.com</span></p>
                <p><img src="__PUBLIC__/images/icon13.jpg" alt=""/><span>地址：广州市珠江新村C座301-302室</span></p>
            </div>　　
        </dd>
    </dl>
</div>
<!-- 地图api -->
<script>
    var map = new AMap.Map('container', {
        resizeEnable: true,
        center: [113.321206,23.119293],
        zoom: 13
    });
    var marker = new AMap.Marker({
        position: map.getCenter()
    });
    marker.setMap(map);
    // 设置鼠标划过点标记显示的文字提示
    marker.setTitle('位置：广州珠江新城');

    // 设置label标签
    marker.setLabel({//label默认蓝框白底左上角显示，样式className为：amap-marker-label
        offset: new AMap.Pixel(20, 20),//修改label相对于maker的位置
        content: "云秀国际美容公司"
    });
</script>
<!-- 地图api -->

<include file='Default:Common:footer' />
</body>
</html>
