<include file='Default:Common:header' />

<include file='Default:Common:menu' />
<style type="text/css">
.scd_m h4 {
    color: #333;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
</style>
<!--幻灯片-->
<div class="banner banner_s">
	<img src="__PUBLIC__/static/banner_a.jpg" alt=""/>
</div>
<!--幻灯片-->
<div class="space_hx">&nbsp;</div>
    <div class="wrap scd clearfix" style="padding: 0 0 0px;">
        <div class="scd_l">
            <div class="s_top"><span>新闻动态</span></div>
            <?php $menu = isset($menu_tree[6]) ? $menu_tree[6] : ''; ?>
            <?php $choose = ''; ?>
            <ul class="s_nav">
                <foreach name="menu['children']" item="m">
                    <li <?php echo isset($menu_id) && $menu_id == $m['id'] ? 'class="active"' : ''; ?>><a href="{:U('menu/menu', array('id' => $m['id']))}"><i>&nbsp;</i><span>{$m.name}</span></a></li>
                    <?php if(isset($menu_id) && $menu_id == $m['id']) $choose = $m['name']; ?>
                </foreach>
            </ul>
            <div class="space_hx">&nbsp;</div>
        </div>
        <div class="scd_r">
            <div class="r_top">
                <i>&nbsp;</i>
                <span><?php echo $_SESSION['m_name']; ?><em>Introduction</em></span>
                <div class="pst">
                    当前位置：
                    <a href="{:U('index/index')}">首页</a>-
                    <a href="{:U('menu/menu', array('id' => 1))}"><?php echo $_SESSION['m_name']; ?></a>
                    <if condition="$choose neq ''">
                        -{$choose}
                    </if>
                </div>
            </div>
            <div class="scd_m about">
                <h4>{$news.news_title}</h4>
                <div style="text-indent:2em;">
                    {$news.news_content|htmlspecialchars_decode}
                </div>
                <br/>
                <p style="text-align: center;">发布时间：<?php echo date('Y-m-d H:i', $news['news_time']); ?>,发布者：{$news.news_auto},浏览量：{$news.news_hits}</p>
            </div>
        </div>
    </div>
<include file='Default:Common:footer' />
</body>
</html>
