<include file='Default:Common:header' />

<include file='Default:Common:menu' />
<!--幻灯片-->
<div class="banner banner_s">
	<img src="__PUBLIC__/static/banner_b.jpg" alt=""/>
</div>
<!--幻灯片-->
<div class="space_hx">&nbsp;</div>
<div class="scd scd_a clearfix">
	<div class="pro">
    <div class="index-main-title" style="padding: 10px 0;">
        <p>团队成员</p>
        <span>专业的团队、专业的技术</span>
    </div>
    <div class="index-main-md-body">
        <ul>
            <foreach name="staff_list" item="v">
                <li>
                    <div class="team_cy"><img width="250" height="200" src="__PUBLIC__{$v.staff_pic}"></div>
                    <p class="name">{$v.staff_name}</p>
                    <p>{$v.staff_position}</p>
                    <span style="margin-top: 0.5rem;color:#555;">{$v.staff_description}</span>
                </li>
            </foreach>
        </ul>
    </div>
    </div>
</div>
<include file='Default:Common:footer' />
</body>
</html>
