<include file='Default:Common:header' />

<include file='Default:Common:menu' />
<!--幻灯片-->
<div class="banner banner_s">
	<img src="__PUBLIC__/static/banner_b.jpg" alt=""/>
</div>
<!--幻灯片-->
<div class="space_hx">&nbsp;</div>
<div class="scd scd_a clearfix">
	<div class="pro">
<!--         <dl class="clearfix">
        	<dt><a href=""><img src="__PUBLIC__/static/pic7.jpg" alt=""/></a></dt>
            <dd>
            	<div class="name"><a href="">无人机型号：虎蝠</a></div>
                <div class="des">替代传统的地面控制点技术，安行无人机通过整合RTK定位技术和精密测时技术来确定每一张航拍相片的精确位置。</div>
                <div class="more"><a href="">查看详情</a></div>
                <div class="time"><span>2015/12/10</span></div>
            </dd>
        </dl> -->
    <div class="index-main-title">
        <p>团队成员</p>
        <span>提供专业的美容服务</span>
    </div>
    <div class="index-main-md-body">
        <ul>
            <li>
                <div class="team_cy"><img src="__PUBLIC__/static/team1.jpg"></div>
                <p class="name">JERRY</p>
                <p>高级工程师</p><span>这是一段很长很长的个人介绍。。。。。。。。。。这是一段很长很长的个人介绍。。。。。。。。。。</span></li>
            <li>
                <div class="team_cy"><img src="__PUBLIC__/static/team2.jpg"></div>
                <p class="name">李美娜</p>
                <p>工程师</p><span>这是一段很长很长的个人介绍。。。。。。。。。。这是一段很长很长的个人介绍。。。。。。。。。。</span></li>
            <li>
                <div class="team_cy"><img src="__PUBLIC__/static/team3.jpg"></div>
                <p class="name">保罗</p>
                <p>环境测试员</p><span>这是一段很长很长的个人介绍。。。。。。。。。。这是一段很长很长的个人介绍。。。。。。。。。。</span></li>
                <li>
                <div class="team_cy"><img src="__PUBLIC__/static/team3.jpg"></div>
                <p class="name">保罗</p>
                <p>环境测试员</p><span>这是一段很长很长的个人介绍。。。。。。。。。。这是一段很长很长的个人介绍。。。。。。。。。。</span></li>
        </ul>
    </div>
    </div>
</div>
<include file='Default:Common:footer' />
</body>
</html>
