<include file='Default:Common:header' />

<include file='Default:Common:menu' />

<include file='Default:Common:banner' />
<!--contian-->
<div class="index_wrap index_wrap_a clearfix">
    <div class="index_i_about">
        <h1><a href=""><em>云绣</em> 国际美容有限公司</a></h1>
        <dl class="clearfix">
            <dt><a href=""><img src="__PUBLIC__/static/pic_1.jpg" alt=""/></a></dt>
            <dd style="text-indent: 2em;">
            <?php echo isset($about['column_content']) ? $about['column_content'] : '暂无内容！'; ?>
            </dd>
        </dl>
    </div>
    <div class="index_i_news">
        <div class="top">
            <em>&nbsp;</em>新闻动态
            <a href="{:U('menu/menu', array('id' => C('MENU_NEWS')))}">更多新闻</a>
        </div>
        <div class="i_m">
            <div id="scrollbar1">
                <div class="">
                    <div class="content">
                        <ul>
                            <foreach name="news_list" item="v">
                            <li>
                                <div class="time"><?php echo date('Y-m-d H:i', $v['news_time']); ?></div>
                                <div class="title">
                                    <a href="{:U('Info/view', array('id' => $v['n_id']))}"><?php echo ! empty($v['news_titleshort']) ? subtext($v['news_titleshort'], 35) : subtext($v['news_title'], 35); ?></a>
                                </div>
                            </li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--contian-->
<div class="space_hx">&nbsp;</div>
<!-- <div class="i_line"><em>&nbsp;</em></div>
 --><div class="space_hx">&nbsp;</div>
<div style="background:#f1f1f1">
        <div class="case_com">

            <div class="index_top">
                <span>云绣国际</span>
                <i>YUNXIU PERFORMANCE</i> 
                <em></em>
            </div>
        </div>
    <ul class="i_ma clearfix" style="background">
        <li>
            <a href="{:U('Info/index', array('id' => C('CONTENT_PRODUCER')))}">
                <img src="__PUBLIC__/static/pic1.jpg" alt=""/>
            </a>
            <div class="title">
                <a href="{:U('Info/index', array('id' => C('CONTENT_PRODUCER')))}"><em>01.</em><?php echo $producer['column_name']; ?></a>
            </div>
            <div class="des"><?php echo isset($producer['column_content']) ? mb_substr($producer['column_content'],0,40,'utf-8'): '暂无内容！'; ?>....</div>
            <!--以传播美丽之道为目标，是一家以美容护肤保养品与美容院为主，集研发、生产一体的企业。 旗下已形成三大疗程多个系列的成熟护肤体系，秉持以“医学为本、美容为用”的多元化专业护肤理念，产品以其亲肤、护肤、活肤的显著功效成为护肤品中的佼佼者。...... -->
            <div class="more"><a href="{:U('Info/index', array('id' => C('CONTENT_PRODUCER')))}">MORE</a></div>
        </li>
        <li>
            <a href="{:U('Info/index', array('id' => C('CONTENT_CULTURE')))}">
                <img src="__PUBLIC__/static/pic2.jpg" alt=""/>
            </a>
            <div class="title">
                <a href="{:U('Info/index', array('id' => C('CONTENT_CULTURE')))}"><em>02.</em><?php echo $culture['column_name']; ?></a>
            </div>
            <div class="des"><?php echo isset($culture['column_content']) ? mb_substr($culture['column_content'],0,40,'utf-8'): '暂无内容！'; ?>....</div>
            <div class="more"><a href="{:U('Info/index', array('id' => C('CONTENT_CULTURE')))}">MORE</a></div>
        </li>
        <li>
            <a href="{:U('Info/index', array('id' => C('CONTENT_INTRODUCE')))}">
                <img src="__PUBLIC__/static/pic3.jpg" alt=""/>
            </a>
            <div class="title">
                <a href="{:U('Info/index', array('id' => C('CONTENT_INTRODUCE')))}"><em>03.</em><?php echo $about['column_name']; ?></a>
            </div>
            <div class="des"><?php echo isset($about['column_content']) ? mb_substr($about['column_content'],0,40,'utf-8'): '暂无内容！'; ?>.....</div>
            <div class="more"><a href="{:U('Info/index', array('id' => C('CONTENT_INTRODUCE')))}">MORE</a></div>
        </li>
        <li>
            <a href="{:U('Info/index', array('id' => C('CONTENT_HEALTHY')))}">
                <img src="__PUBLIC__/static/pic6.jpg" alt=""/>
            </a>
            <div class="title">
                <a href="{:U('Info/index', array('id' => C('CONTENT_HEALTHY')))}"><em>04.</em><?php echo $healthy['column_name']; ?></a>
            </div>
            <div class="des"><?php echo isset($healthy['column_content']) ? mb_substr($healthy['column_content'],0,40,'utf-8'): '暂无内容！'; ?>.....</div>
            <div class="more"><a href="{:U('Info/index', array('id' => C('CONTENT_HEALTHY')))}">MORE</a></div>
        </li>
    </ul>
</div>
<!--产品介绍-->
<div class="new_home clearfix">
        <span class="title_line clearfix"> 产品中心</span>
        <div class="left_new clearfix">
            <div class="pic">
                <a href="{:U('Info/index', array('id' => C('CONTENT_HEALTHY')))}">
                    <img src="__PUBLIC__/static/about1.jpg" alt="" class="vcenter"/>
                <i></i></a>
            </div>
            <div class="text">
                <h4><?php echo $healthy['column_name']; ?></h4>
                <p><?php echo isset($healthy['column_content']) ? mb_substr($healthy['column_content'],0,80,'utf-8'): '暂无内容！'; ?></p>
                <a href="{:U('Info/index', array('id' => C('CONTENT_HEALTHY')))}">查看详细 >></a>
            </div>
        </div>
        <ul  class="right_new">
            <li>
                <a href="{:U('Info/index', array('id' => C('CONTENT_FACE')))}">
                    <div class="pic"><img src="__PUBLIC__/static/news1.jpg" alt="" class="vcenter"/><i></i></div>
                    <div class="text">
                        <h4><?php echo $face['column_name']; ?></h4>
                        <time>[201610-08]</time>
                        <p>
                            <?php echo isset($face['column_content']) ? mb_substr($face['column_content'],0,150,'utf-8'): '暂无内容！'; ?>
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{:U('Info/index', array('id' => C('CONTENT_BODY')))}">
                    <div class="pic"><img src="__PUBLIC__/static/news2.jpg" alt="" class="vcenter"/><i></i></div>
                    <div class="text">
                        <h4><?php echo $body['column_name']; ?></h4>
                        <time>[201610-08]</time>
                        <p>
                            <?php echo isset($body['column_content']) ? mb_substr($body['column_content'],0,150,'utf-8'): '暂无内容！'; ?>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
<include file='Default:Common:footer' />
</body>
</html>
