<include file='Default:Common:header' />

<include file='Default:Common:menu' />

<include file='Default:Common:banner' />
<!--contian-->
<div class="index_wrap index_wrap_a clearfix">
    <div class="index_i_about">
        <h1><a href=""><em>云秀</em> 国际美容有限公司</a></h1>
        <dl class="clearfix">
            <dt><a href=""><img src="__PUBLIC__/static/pic_1.jpg" alt=""/></a></dt>
            <dd>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美容品牌作为质集团核心品牌和高科技美容的引领者，定位于亚健康调理专家，是国际芳疗SPA与中医养生领导品牌。在岁月的沉淀和洗礼中，从诞生之日起就以“让名媛淑女体验真正芳疗的力量”为品牌使命，致力于为爱美女士打造一个身心灵合一的美肤芳疗SPA平台，这一高端、高贵、高水准的“三高”差异化定位，领航美容院走出红海、开辟美容蓝海，领航美容院走出红海、开辟美容蓝海。</p>
                <p>美容品牌作为质集团核心品牌和高科技美容的引领者，定位于亚健康调理专家，是国际芳疗SPA与中医养生领导品牌。在岁月的沉淀和洗礼中，从诞生之日起就以“让名媛淑女体验真正芳疗的力量”为品牌使命</p>
                <p>美容品牌作为质集团核心品牌和高科技美容的引领者，定位于亚健康调理专家，是国际芳疗SPA与中医养生领导品牌。在岁月的沉淀和洗礼中，从诞生之日起就以“让名媛淑女体验真正芳疗的力量”为品牌使命。</p>
            </dd>
        </dl>
    </div>
    <div class="index_i_news">
        <div class="top">
            <em>&nbsp;</em>新闻动态
            <a href="">更多新闻</a>
        </div>
        <div class="i_m">
            <div id="scrollbar1">
                <div class="">
                    <div class="content">
                        <ul>
                            <li>
                                <div class="time">2016-05-13</div>
                                <div class="title">
                                    <a href="">云秀获得广州天河区百强企业荣誉称号</a>
                                </div>
                            </li>
                            <li>
                                <div class="time">2016-05-13</div>
                                <div class="title">
                                    <a href="">云秀将为美容美业贡献力量，致力于为爱美女士..</a>
                                </div>
                            </li>
                            <li>
                                <div class="time">2016-05-13</div>
                                <div class="title">
                                    <a href="">云秀将亮相在"广州会展中心"举办的"国际美容展"。</a>
                                </div>
                            </li>
                            <li>
                                <div class="time">2016-05-13</div>
                                <div class="title">
                                    <a href="">云秀将为美容美业贡献力量。</a>
                                </div>
                            </li>
                            <li>
                                <div class="time">2016-05-13</div>
                                <div class="title">
                                    <a href="">云秀将为美容美业贡献力量。</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--contian-->
<div class="space_hx">&nbsp;</div>
<!-- <div class="i_line"><em>&nbsp;</em></div>
 --><div class="space_hx">&nbsp;</div>
<div style="background:#f1f1f1">
        <div class="case_com">

            <div class="index_top">
                <span>云秀国际</span>
                <i>YUNXIU PERFORMANCE</i> 
                <em></em>
            </div>
        </div>
    <ul class="i_ma clearfix" style="background">
        <li>
            <a href="">
                <img src="__PUBLIC__/static/pic1.jpg" alt=""/>
            </a>
            <div class="title">
                <a href=""><em>01.</em>xxxx</a>
            </div>
            <div class="des">以传播美丽之道为目标，是一家以美容护肤保养品与美容院为主，集研发、生产一体的企业。</div>
            <!-- 旗下已形成三大疗程多个系列的成熟护肤体系，秉持以“医学为本、美容为用”的多元化专业护肤理念，产品以其亲肤、护肤、活肤的显著功效成为护肤品中的佼佼者。...... -->
            <div class="more"><a href="">MORE</a></div>
        </li>
        <li>
            <a href="">
                <img src="__PUBLIC__/static/pic2.jpg" alt=""/>
            </a>
            <div class="title">
                <a href=""><em>02.</em>企业文化</a>
            </div>
            <div class="des">以传播美丽之道为目标，是一家以美容护肤保养品与美容院为主，集研发、生产一体的企业。......</div>
            <div class="more"><a href="">MORE</a></div>
        </li>
        <li>
            <a href="">
                <img src="__PUBLIC__/static/pic3.jpg" alt=""/>
            </a>
            <div class="title">
                <a href=""><em>03.</em>工作方案</a>
            </div>
            <div class="des">以传播美丽之道为目标，是一家以美容护肤保养品与美容院为主，集研发、生产一体的企业。......</div>
            <div class="more"><a href="">MORE</a></div>
        </li>
        <li>
            <a href="">
                <img src="__PUBLIC__/static/pic4.jpg" alt=""/>
            </a>
            <div class="title">
                <a href=""><em>04.</em>产品中心</a>
            </div>
            <div class="des">以传播美丽之道为目标，是一家以美容护肤保养品与美容院为主，集研发、生产一体的企业。......</div>
            <div class="more"><a href="">MORE</a></div>
        </li>
    </ul>
</div>
<!--产品介绍-->
<div class="new_home clearfix">
        <span class="title_line clearfix"> 产品中心</span>
        <div class="left_new clearfix">
            <div class="pic">
                <a href="about.html">
                    <img src="__PUBLIC__/static/about1.jpg" alt="" class="vcenter"/>
                <i></i></a>
            </div>
            <div class="text">
                <h4>上海唯星信息科技有限公司</h4>
                <p>唯星成立于2005年，秉承"整合数字资源,技术驱动营销"的理念为传统企业互联网商业转型各个阶段提供全方位应用支撑。经过10余年的快速发展，唯星深刻理解...……</p>
                <a href="about.html">查看详细 >></a>
            </div>
        </div>
        <ul  class="right_new">
            <li>
                <a href="news.html">
                    <div class="pic"><img src="__PUBLIC__/static/news1.jpg" alt="" class="vcenter"/><i></i></div>
                    <div class="text">
                        <h4>SaaS级智能营销云平台</h4>
                        <time>[201610-08]</time>
                        <p>
                            SaaS级智能营销云平台的核心模块是唯星大数据精准营销平台.....
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a href="news.html">
                    <div class="pic"><img src="__PUBLIC__/static/news2.jpg" alt="" class="vcenter"/><i></i></div>
                    <div class="text">
                        <h4>SaaS级智能营销云平台</h4>
                        <time>[201610-08]</time>
                        <p>
                            SaaS级智能营销云平台的核心模块是唯星大数据精准营销平台.....
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
<include file='Default:Common:footer' />
</body>
</html>
